@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    width: 100vw;
    height: 100dvh;
    background-color: rgba(243, 242, 244, 1);

    padding: 30px 26px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: rgba(46, 36, 77, 1);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

//---переменные
:root {
--black: #000;
--white: #fff;
--dark-blue-100: rgba(22, 11, 55, 1);
--dark-blue-90: rgba(46, 36, 77, 1);
--dark-blue-80: rgba(68, 60, 95, 1);
--dark-blue-70:rgba(68, 60, 95, 1);
--dark-blue-60: rgba(131, 125, 148, 1);
--dark-blue-50:rgba(208, 206, 215, 1);
--dark-blue-20: rgba(243, 242, 244, 1);
--dark-blue-10: rgba(251, 251, 253, 1);

--egg-blue-100: rgba(124, 89, 233, 1);
--egg-blue-90: rgba(151, 122, 237, 1);
--egg-blue-80: rgba(177, 155, 242, 1);
--egg-blue-70: rgba(204, 188, 246, 1);
--egg-blue-60: rgba(240, 235, 253, 1);

--blue-100: rgba(71, 146, 206, 1);
--blue-90: rgba(109, 168, 216, 1);
--blue-80: rgba(145, 190, 226, 1);
--blue-70: rgba(163, 200, 230, 1);
--blue-60: rgba(163, 200, 230, 1);
--blue-50: rgba(227, 239, 248, 1);
}

.Extrabold{
    font-size: 26px;
    font-weight: 800;
}

.Medium {
    font-size: 16px;
    font-weight: 500;
}

.Semibold {
    font-size: 14px;
    font-weight: 600;
}

.Regular {
    font-size: 14px;
    font-weight: 400;
}

.Medium {
    font-size: 10px;
    font-weight: 500;
}

//---сброс стилей
button, select{
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}